
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        
        <div class="text-center">
            <h2 class="text-dark"><%= user.name %></h2>
        </div>
        <h4 class="text-dark">Description</h4>

        <table>
          <tr class="text-center">
            <th>Market Cap</th>
            <th>Price</th>
            <th>Chain</th>
            <th>Launch</th>
            <th >Votes</th>
          </tr>
          <tr>
            <td class="text-center"><%= user.marketcap %></td>
            <td class="text-center"><%= user.price %></td>
            <td class="text-center"><%= user.chain %></td>
            <td class="text-center"><%= user.launch %></td>
            <td class="text-center"><%= user.votes %></td>
          </tr>
         

        </table>
        
         <!-- form handling -->
         <section>
 <form method="POST" id="coin_details">
    <div class="new_user">
        <div class="form-group">
            <input type="hidden" name="id" value="<%= user._id %>">
        </div>
        <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn text-dark update">VOTE</button>
        </div>
      </section>
        </div>

    </div>
</form>

       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
