
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Coins</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark"></h2>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <input type="hidden" name="id" value="<%= user._id %>">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Vote for</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>" placeholder="">
        </div>
 
        <div class="form-group">
            <label for="votes" class="text-light">Votes</label>
            <input type="text" name="votes" value="<%= user.votes%>" placeholder="">
        </div>
   
    
    
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Vote</button>
        </div>

    </div>
</form>

       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
